@use "../shared/media-queries" as screens;
@use "../base/animations" as animations;

.rss-faq {
    margin-top: clamp(30px, 7.5vw, 150px);
    text-align: center;

    &__title {
        font-weight: 600;
        color: var(--color-grey-20);
    }
    &__slug {
        color: var(--color-grey-30);
        font-weight: 400;
    }

    &__container > * {

        background-color: var(--color-peach-96);
        border-radius: 10px;
        width: 100%;
    }
    &__container {
        margin-top: clamp(60px, 4vw, 80px);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;

        @include screens.min-md { 
            &__faq-container { flex: 0 1 calc((100% - 30px) * 2/3); }
            &__help-container { flex: 0 1 calc((100% - 30px) * 1/3); }

            &__help-container {
                text-align: left;
                align-items: flex-start;
            }
        }
        @include screens.min-lg { 
            gap: 50px; 
            &__faq-container { flex: 0 1 calc((100% - 50px) * 2/3); }
            &__help-container { flex: 0 1 calc((100% - 50px) * 1/3); }
        }

        &__faq-container { 
            padding: clamp(20px, 5vw, 50px); 
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__item {
                padding: 20px 24px;
                display: flex;
                gap: 24px;
                justify-content: space-between;
                border-radius: 6px;
                background-color: var(--color-peach-92);

                &__text-container {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    gap: 16px;

                    &__title {
                        font-weight: 500;
                        color: var(--color-grey-20);
                    }

                    &__slug {
                        font-weight: 400;
                        color: var(--color-grey-30);
                    }
                }

                &__icon-container {
                    width: 46px;
                    height: 46px;
                    display: grid;
                    place-content: center;
                    border-radius: 8px;
                    border: 1px solid var(--color-peach-85);

                    &__icon {
                        width: 34px;
                        height: 34px;
                    }
                }
            }
        }

        &__help-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center; 
            padding: clamp(30px, 7.5vw, 50px); 

            &__ico-container {
                display: grid;
                place-content: center;
                width: 48px;
                height: 48px;
                background-color: var(--color-purple-50);
                border-radius: 6px;

                &__icon {
                    width: 24px;
                    height: 24px;
                }
            }

            &__text-container {

                &__title {
                    margin-bottom: 6px;
                    font-weight: 600;
                    color: var(--color-grey-20);
                }

                &__slug {
                    font-weight: 400;
                    color: var(--color-grey-30);
                }
            }

            &__submit-btn {
                border-radius: 6px;
                border-color: transparent;
                background-color: var(--color-purple-50);
                color: var(--color-peach-99);
                padding: 14px 20px;
                font-weight: 500;
                font-size: clamp(14px, 3.5vw, 18px);
            }
        }
    }
}

.rss-faq__home {
    &__title {
        opacity: 0;
        -webkit-animation: #{animations.fade-in-up-faq-heading-animation()};
        -moz-animation: #{animations.fade-in-up-faq-heading-animation()};
        -ms-animation: #{animations.fade-in-up-faq-heading-animation()};
        animation: #{animations.fade-in-up-faq-heading-animation()};
    }
    &__slug {
        opacity: 0;
        -webkit-animation: #{animations.fade-in-up-faq-slug-animation()};
        -moz-animation: #{animations.fade-in-up-faq-slug-animation()};
        -ms-animation: #{animations.fade-in-up-faq-slug-animation()};
        animation: #{animations.fade-in-up-faq-slug-animation()};
    }
    &__container {
        &__faq-container {
            opacity: 0;
            -webkit-animation: #{animations.fade-in-up-faq-container-animation()};
            -moz-animation: #{animations.fade-in-up-faq-container-animation()};
            -ms-animation: #{animations.fade-in-up-faq-container-animation()};
            animation: #{animations.fade-in-up-faq-container-animation()};
            &>* {
                &:nth-child(1) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-item-container-1-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-item-container-1-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-item-container-1-animation()};
                    animation: #{animations.fade-in-up-faq-item-container-1-animation()};
                }
                &:nth-child(2) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-item-container-2-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-item-container-2-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-item-container-2-animation()};
                    animation: #{animations.fade-in-up-faq-item-container-2-animation()};
                }
                &:nth-child(3) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-item-container-3-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-item-container-3-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-item-container-3-animation()};
                    animation: #{animations.fade-in-up-faq-item-container-3-animation()};
                }
                &:nth-child(4) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-item-container-4-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-item-container-4-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-item-container-4-animation()};
                    animation: #{animations.fade-in-up-faq-item-container-4-animation()};
                }
                &:nth-child(5) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-item-container-5-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-item-container-5-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-item-container-5-animation()};
                    animation: #{animations.fade-in-up-faq-item-container-5-animation()};
                }
            }
        }
        &__help-container {
            opacity: 0;
            -webkit-animation: #{animations.fade-in-up-faq-help-container-animation()};
            -moz-animation: #{animations.fade-in-up-faq-help-container-animation()};
            -ms-animation: #{animations.fade-in-up-faq-help-container-animation()};
            animation: #{animations.fade-in-up-faq-help-container-animation()};
            &>* {
                &:nth-child(1) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-help-item-1-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-help-item-1-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-help-item-1-animation()};
                    animation: #{animations.fade-in-up-faq-help-item-1-animation()};
                }
                &:nth-child(2) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-help-item-2-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-help-item-2-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-help-item-2-animation()};
                    animation: #{animations.fade-in-up-faq-help-item-2-animation()};
                }
                &:nth-child(3) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-help-item-3-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-help-item-3-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-help-item-3-animation()};
                    animation: #{animations.fade-in-up-faq-help-item-3-animation()};
                }
                &:nth-child(4) {
                    opacity: 0;
                    -webkit-animation: #{animations.fade-in-up-faq-help-item-4-animation()};
                    -moz-animation: #{animations.fade-in-up-faq-help-item-4-animation()};
                    -ms-animation: #{animations.fade-in-up-faq-help-item-4-animation()};
                    animation: #{animations.fade-in-up-faq-help-item-4-animation()};
                }
            }
        }
    }
}