@use "../shared/media-queries" as screens;

.rss-review {
    margin-top: clamp(60px, 15vw, 150px);
    width: 100%;
    text-align: center;

    &__title {
        font-weight: 600;
        color: var(--color-grey-20);
        margin-bottom: clamp(2px, 0.5vw, 6px);
    }

    &__slug {
        font-weight: 400;
        color: var(--color-grey-30);
        margin-bottom: clamp(40px, 10vw, 80px);
    }

    &__total-container {
        margin-bottom: clamp(20px, 5vw, 30px);

        @include screens.min-md {
            display: flex;
            justify-content: space-between;
        }

        h6 {
            font-weight: 500;
            color: var(--color-grey-30);
        }

        &__arrow-container {
            display: none;

            @include screens.min-md {
                display: flex;
                gap: clamp(12px, 0.83vw, 16px);

                &__arrow {
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    background-color: var(--color-peach-95);
                    border: 1px solid var(--color-peach-85);
                    position: relative;

                    &-left::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(135deg);
                        width: 13px;
                        height: 13px;
                        border-right: 2px solid var(--color-grey-20);
                        border-bottom: 2px solid var(--color-grey-20);
                    }

                    &-right::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                        width: 13px;
                        height: 13px;
                        border-right: 2px solid var(--color-grey-20);
                        border-bottom: 2px solid var(--color-grey-20);
                    }
                }
            }
        }
    }

    &__hr-line {
        width: 100%;
        height: 1px;
        background-color: var(--color-peach-85);
    }

    &__review-items-container {
        display: flex;
        // justify-content: space-between;
        align-items: stretch;
        margin-top: clamp(24px, 6vw, 30px);
        overflow: hidden;
        @include screens.min-smd {
            gap: clamp(10px, 1.3vw, 20px);
        }
        @include screens.min-md {
            gap: clamp(20px, 1.38vw, 30px);
        }

        &__item {
            display: flex !important;
            flex-direction: column;
            flex: 0 0 100%;
            gap: clamp(24px, 1.5vw, 30px);
            background-color: var(--color-peach-96);
            border-radius: 10px;
            padding: clamp(40px, 2.5vw, 50px);
            gap: clamp(24px, 1.5vw, 30px);

            @include screens.min-smd {
                text-align: left;
                // flex: 0 0 calc((100% - 1.3vw) / 2);
                flex: 0 0 50%;
            }
            @include screens.min-md {
                // flex: 0 0 calc((100% - 2.76vw) / 3);
                flex: 0 0 33.33%;
            }

            &__header-container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__info-container {
                    text-align: left;
                    &__title {
                        font-weight: 500;
                        color: var(--color-grey-20);
                    }

                    &__slug {
                        font-weight: 400;
                        color: var(--color-grey-40);
                    }
                }

                &__profile-container {
                    display: flex;
                    align-items: center;
                    gap: clamp(8px, 0.5vw, 10px);

                    &__item-container {
                        display: grid;
                        place-items: center;
                        border: 1px solid var(--color-peach-90);
                        border-radius: 8px;
                        width: clamp(44px, 3vw, 52px);
                        height: clamp(44px, 3vw, 52px);

                        &__item {
                            color: var(--color-purple-50);
                            width: clamp(24px, 1.5vw, 28px);
                            height: clamp(24px, 1.5vw, 28px);
                        }
                    }
                }
            }

            &__content {
                text-align: left;
                flex: 1;
                font-weight: 400;
                color: var(--color-grey-30);
            }
        }
    }

    &__arrows-container {
        margin-top: 20px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        gap: 70px;
        align-items: center;

        @include screens.min-md {
            display: none;
        }

        &__line-container {
            display: flex;
            gap: 2px;

            &__item {
                &-active {
                    background-color: var(--color-purple-50);
                }

                background-color: var(--color-peach-85);
                border-radius: 52px;
                width: 30px;
                height: 5px;
                border: none;
            }
        }

        &__arrow {
            position: relative;
            border-radius: 6px;
            background-color: var(--color-peach-98);
            border: 1px solid var(--color-peach-85);
            width: 42px;
            height: 42px;

            &-left::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 57%;
                transform: translate(-50%, -50%) rotate(135deg);
                width: 13px;
                height: 13px;
                border-right: 2px solid var(--color-grey-20);
                border-bottom: 2px solid var(--color-grey-20);
            }

            &-right::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 43%;
                transform: translate(-50%, -50%) rotate(-45deg);
                width: 13px;
                height: 13px;
                border-right: 2px solid var(--color-grey-20);
                border-bottom: 2px solid var(--color-grey-20);
            }
        }
    }
}