@use "../shared/media-queries" as screens;

.rss-slider {
    width: 100%;
    &__items-container {
        margin-top: clamp(24px, 6vw, 30px);
        display: flex;
        overflow: hidden;
        &__item {
            flex: 0 0 100%;
            background-color: var(--color-peach-96);
            border-radius: 10px;
            padding: clamp(10px, 5vw, 20px);
            &__image {
                width: 100% !important;
                height: 300px !important;
                object-fit: fill !important;
                border-radius: 5px !important;
            }
            @include screens.min-tb { 
                // flex: 0 0 50%;
                flex: 0 0 calc((100% - 1.3vw) / 2);
            }
            @include screens.min-md { 
                // flex: 0 0 33.33%;
                flex: 0 0 calc((100% - 2.6vw) / 3);
            }
        }
    }
}