//keyframes
@-webkit-keyframes fade-in-up-logo {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-logo {
    0% { opacity: 0; -moz-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-logo {
    0% { opacity: 0; -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-logo {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes slide-in-right-nav-item {
    0% { opacity: 0; -webkit-transform: translateX(20px); transform: translateX(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes slide-in-right-nav-item {
    0% { opacity: 0; -moz-transform: translateX(20px); transform: translateX(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes slide-in-right-nav-item {
    0% { opacity: 0; -ms-transform: translateX(20px); transform: translateX(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes slide-in-right-nav-item {
    0% { opacity: 0; transform: translateX(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-pop {
    0% { opacity: 0; -webkit-transform: translateY(30px) scale(0.95); transform: translateY(30px) scale(0.95); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-pop {
    0% { opacity: 0; -moz-transform: translateY(30px) scale(0.95); transform: translateY(30px) scale(0.95); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-pop {
    0% { opacity: 0; -ms-transform: translateY(30px) scale(0.95); transform: translateY(30px) scale(0.95); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-pop {
    0% { opacity: 0; transform: translateY(30px) scale(0.95); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-text {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-text {
    0% { opacity: 0; -moz-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-text {
    0% { opacity: 0; -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-text {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-heading {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-heading {
    0% { opacity: 0; -moz-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-heading {
    0% { opacity: 0; -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-heading {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-paragraph {
    0% { opacity: 0; -webkit-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-paragraph {
    0% { opacity: 0; -moz-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-paragraph {
    0% { opacity: 0; -ms-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-paragraph {
    0% { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-pop-cta {
    0% { opacity: 0; -webkit-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-pop-cta {
    0% { opacity: 0; -moz-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-pop-cta {
    0% { opacity: 0; -ms-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-pop-cta {
    0% { opacity: 0; transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-cta {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-cta {
    0% { opacity: 0; -moz-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-cta {
    0% { opacity: 0; -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-cta {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-status {
    0% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-status {
    0% { opacity: 0; -moz-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-status {
    0% { opacity: 0; -ms-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-status {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-skills-heading {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-skills-heading {
    0% { opacity: 0; -moz-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-skills-heading {
    0% { opacity: 0; -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-skills-heading {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-skills-slug {
    0% { opacity: 0; -webkit-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-skills-slug {
    0% { opacity: 0; -moz-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-skills-slug {
    0% { opacity: 0; -ms-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-skills-slug {
    0% { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-skills-card {
    0% { opacity: 0; -webkit-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-skills-card {
    0% { opacity: 0; -moz-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-skills-card {
    0% { opacity: 0; -ms-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-skills-card {
    0% { opacity: 0; transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-benefits-heading {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-benefits-heading {
    0% { opacity: 0; -moz-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-benefits-heading {
    0% { opacity: 0; -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-benefits-heading {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-benefits-slug {
    0% { opacity: 0; -webkit-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-benefits-slug {
    0% { opacity: 0; -moz-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-benefits-slug {
    0% { opacity: 0; -ms-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-benefits-slug {
    0% { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-benefits-card {
    0% { opacity: 0; -webkit-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-benefits-card {
    0% { opacity: 0; -moz-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-benefits-card {
    0% { opacity: 0; -ms-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-benefits-card {
    0% { opacity: 0; transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-works-heading {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-works-heading {
    0% { opacity: 0; -moz-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-works-heading {
    0% { opacity: 0; -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-works-heading {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-works-slug {
    0% { opacity: 0; -webkit-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-works-slug {
    0% { opacity: 0; -moz-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-works-slug {
    0% { opacity: 0; -ms-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-works-slug {
    0% { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-works-items-container {
    0% { opacity: 0; -webkit-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-works-items-container {
    0% { opacity: 0; -moz-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-works-items-container {
    0% { opacity: 0; -ms-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-works-items-container {
    0% { opacity: 0; transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-works-btn {
    0% { opacity: 0; -webkit-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-works-btn {
    0% { opacity: 0; -moz-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-works-btn {
    0% { opacity: 0; -ms-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-works-btn {
    0% { opacity: 0; transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-review-heading {
    0% { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-review-heading {
    0% { opacity: 0; -moz-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-review-heading {
    0% { opacity: 0; -ms-transform: translateY(20px); transform: translateY(20px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-review-heading {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-review-slug {
    0% { opacity: 0; -webkit-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-review-slug {
    0% { opacity: 0; -moz-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-review-slug {
    0% { opacity: 0; -ms-transform: translateY(15px); transform: translateY(15px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-review-slug {
    0% { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-review-count {
    0% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-review-count {
    0% { opacity: 0; -moz-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-review-count {
    0% { opacity: 0; -ms-transform: translateY(30px); transform: translateY(30px); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-review-count {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-review-items-container {
    0% { opacity: 0; -webkit-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-review-items-container {
    0% { opacity: 0; -moz-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-review-items-container {
    0% { opacity: 0; -ms-transform: translateY(30px) scale(0.98); transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-review-items-container {
    0% { opacity: 0; transform: translateY(30px) scale(0.98); }
    100% { opacity: 1; transform: none; }
}
@-webkit-keyframes fade-in-up-review-arrows-container {
    0% { opacity: 0; -webkit-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -webkit-transform: none; transform: none; }
}
@-moz-keyframes fade-in-up-review-arrows-container {
    0% { opacity: 0; -moz-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -moz-transform: none; transform: none; }
}
@-ms-keyframes fade-in-up-review-arrows-container {
    0% { opacity: 0; -ms-transform: translateY(20px) scale(0.95); transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; -ms-transform: none; transform: none; }
}
@keyframes fade-in-up-review-arrows-container {
    0% { opacity: 0; transform: translateY(20px) scale(0.95); }
    100% { opacity: 1; transform: none; }
}







//animations
@function fade-in-up-logo-animation($duration: 0.8s, $delay: 0.1s) { @return fade-in-up-logo #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function slide-in-right-nav-item-1-animation($duration: 0.7s, $delay: 0.2s) { @return slide-in-right-nav-item #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function slide-in-right-nav-item-2-animation($duration: 0.7s, $delay: 0.3s) { @return slide-in-right-nav-item #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function slide-in-right-nav-item-3-animation($duration: 0.7s, $delay: 0.4s) { @return slide-in-right-nav-item #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function slide-in-right-nav-item-4-animation($duration: 0.7s, $delay: 0.5s) { @return slide-in-right-nav-item #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function slide-in-right-nav-item-5-animation($duration: 0.7s, $delay: 0.6s) { @return slide-in-right-nav-item #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-pop-animation($duration: 1s, $delay: 0.8s) { @return fade-in-up-pop #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards; }
@function fade-in-up-text-animation($duration: 0.7s, $delay: 1.2s) { @return fade-in-up-text #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-heading-animation($duration: 0.9s, $delay: 1.4s) { @return fade-in-up-heading #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-heading-animation($duration: 0.9s, $delay: 1.4s) { @return fade-in-up-heading #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-paragraph-animation($duration: 1s, $delay: 1.6s) { @return fade-in-up-paragraph #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-pop-cta-animation($duration: 0.7s, $delay: 1.8s) { @return fade-in-up-pop-cta #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-cta-animation($duration: 0.7s, $delay: 1.8s) { @return fade-in-up-cta #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-status-1-animation($duration: 1s, $delay: 2s) { @return fade-in-up-status #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-status-2-animation($duration: 1s, $delay: 2.05s) { @return fade-in-up-status #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-status-3-animation($duration: 1s, $delay: 2.1s) { @return fade-in-up-status #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-skills-heading-animation($duration: 0.8s, $delay: 2.5s) { @return fade-in-up-skills-heading #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-skills-slug-animation($duration: 0.9s, $delay: 2.7s) { @return fade-in-up-skills-slug #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-skills-card-1-animation($duration: 0.7s, $delay: 2.9s) { @return fade-in-up-skills-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-skills-card-2-animation($duration: 0.7s, $delay: 3.05s) { @return fade-in-up-skills-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-skills-card-3-animation($duration: 0.7s, $delay: 3.2s) { @return fade-in-up-skills-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-skills-card-4-animation($duration: 0.7s, $delay: 3.35s) { @return fade-in-up-skills-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-skills-card-5-animation($duration: 0.7s, $delay: 3.5s) { @return fade-in-up-skills-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-skills-card-6-animation($duration: 0.7s, $delay: 3.65s) { @return fade-in-up-skills-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-benefits-heading-animation($duration: 0.8s, $delay: 4.05s) { @return fade-in-up-benefits-heading #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-benefits-slug-animation($duration: 0.9s, $delay: 4.25s) { @return fade-in-up-benefits-slug #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-benefits-card-1-animation($duration: 0.7s, $delay: 4.45s) { @return fade-in-up-benefits-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-benefits-card-2-animation($duration: 0.7s, $delay: 4.6s) { @return fade-in-up-benefits-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-benefits-card-3-animation($duration: 0.7s, $delay: 4.75s) { @return fade-in-up-benefits-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-benefits-card-4-animation($duration: 0.7s, $delay: 4.9s) { @return fade-in-up-benefits-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-benefits-card-5-animation($duration: 0.7s, $delay: 5.05s) { @return fade-in-up-benefits-card #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-works-heading-animation($duration: 0.8s, $delay: 5.45s) { @return fade-in-up-works-heading #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-works-slug-animation($duration: 0.9s, $delay: 5.65s) { @return fade-in-up-works-slug #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-works-items-container-animation($duration: 0.7s, $delay: 5.85s) { @return fade-in-up-works-items-container #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-works-arrows-container-animation($duration: 0.5s, $delay: 6.05s) { @return fade-in-up-works-btn #{$duration} #{$delay} cubic-bezier(0.17, 0.84, 0.44, 1) forwards }
@function fade-in-up-works-btn-animation($duration: 0.3s, $delay: 6.05s) { @return fade-in-up-works-btn #{$duration} #{$delay} cubic-bezier(0.17, 0.84, 0.44, 1) forwards }
@function fade-in-up-review-heading-animation($duration: 0.8s, $delay: 6.45s) { @return fade-in-up-review-heading #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-review-slug-animation($duration: 0.9s, $delay: 6.65s) { @return fade-in-up-review-slug #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-review-count-animation($duration: 0.5s, $delay: 6.85s) { @return fade-in-up-review-count #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-review-arrow-container-animation($duration: 0.5s, $delay: 6.85s) { @return fade-in-up-review-count #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-review-hr-line-animation($duration: 0.5s, $delay: 6.85s) { @return fade-in-up-review-count #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-review-items-container-animation($duration: 0.7s, $delay: 7.05s) { @return fade-in-up-review-items-container #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }
@function fade-in-up-review-arrows-container-animation($duration: 0.5s, $delay: 7.25s) { @return fade-in-up-review-arrows-container #{$duration} #{$delay} cubic-bezier(0, 0.5, 0, 1) forwards }