@use "../shared/media-queries" as screens;

.rss-home {
    background-color: var(--color-peach-92);
    margin-top: clamp(0px, 6.5vw, 12px);
    margin-bottom: clamp(60px, 15vw, 150px);

    &__details-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(30px, 7.5vw, 80px);

        &__banner-image {
            height: 345px;
            object-fit: cover;
            aspect-ratio: 1.038;
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/icons/profile-image__mobile.png");
        }

        &__content-container {
            text-align: center;

            @include screens.min-md {
                text-align: left;
                margin-top: 150px;
            }

            &__slug {
                display: inline-block;
                background-color: var(--color-peach-95);
                padding: 8px 14px;
                border-radius: 10px;
                font-weight: 500;
                color: var(--color-grey-30);
                margin-bottom: 14px;
            }

            &__title {
                margin-bottom: 4px;
                font-weight: 600;
                color: var(--color-grey-10);
            }

            &__content {
                font-weight: 400;
                color: var(--color-grey-30);
            }

            &__contact-container {
                margin-top: 24px;
                display: flex;
                gap: clamp(20px, 5vw, 40px);
                justify-content: center;
                align-items: center;

                @include screens.min-md {
                    justify-content: flex-start;
                }

                &__btn {
                    &>* {
                        display: flex;
                        gap: 8px;
                        border-radius: 8px;
                        align-items: center;
                        padding: clamp(14px, 3.5vw, 18px) clamp(16px, 4vw, 24px);
                        background-color: var(--color-purple-50);

                        &>* {
                            color: var(--color-peach-99);
                        }

                        p {
                            font-weight: 500;
                        }
                    }
                }

                &__link {
                    color: var(--color-grey-10);
                    font-weight: 500;
                }
            }

            &__status-container {
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: clamp(10px, 2.5vw, 20px);

                &__item-container {
                    background-color: var(--color-peach-96);
                    flex: 0 1 calc((100% - clamp(10px, 2.5vw, 20px)) / 2);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: clamp(16px, 4vw, 40px) clamp(18px, 4.5vw, 50px);
                    border-radius: 8px;

                    &-full {
                        flex: 0 1 100%;
                    }

                    &__count {
                        font-weight: 700;
                        color: var(--color-grey-20);

                        &-sy {
                            color: var(--color-purple-50);
                        }

                        font-size: 24px;
                    }

                    &__text {
                        font-weight: 500;
                        color: var(--color-grey-30);
                    }
                }
            }
        }
    }

    &__skills-section {
        margin-top: clamp(60px, 15vw, 240px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        &__heading-container {
            text-align: center;

            &__title {
                margin-bottom: clamp(2px, 0.5vw, 6px);
                font-weight: 600;
                color: var(--color-grey-20);
            }

            &__slug {
                font-weight: 400;
                color: var(--color-grey-30);
            }
        }

        &__list-container {
            display: flex;
            gap: clamp(20px, 5vw, 30px);
            flex-wrap: wrap;

            &__item {
                background-color: var(--color-peach-96);
                border-radius: 12px;
                padding: clamp(40px, 10vw, 50px);
                display: flex;
                flex-direction: column;
                gap: clamp(24px, 6vw, 30px);
                align-items: center;
                text-align: center;
                flex: 0 0 100%;

                @include screens.min-md {
                    flex: 0 0 calc((100% - (clamp(20px, 5vw, 30px) * 2)) / 3);
                }

                &__icon-container {
                    background-color: var(--color-purple-50);
                    display: grid;
                    place-items: center;
                    width: clamp(54px, 13.5vw, 77px);
                    height: clamp(54px, 13.5vw, 77px);
                    border-radius: 8px;
                }

                &__title {
                    font-weight: 600;
                    color: var(--color-grey-20);
                }

                &__slug {
                    font-weight: 400;
                    color: var(--color-grey-30);
                }
            }
        }

        @include screens.min-md {
            gap: 60px;
        }

        @include screens.min-lg {
            gap: 80px;
        }
    }

    &__benefits-section {
        margin-top: clamp(60px, 15vw, 240px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        &__heading-container {
            text-align: center;

            &__title {
                margin-bottom: clamp(2px, 0.5vw, 6px);
                font-weight: 600;
                color: var(--color-grey-20);
            }

            &__slug {
                font-weight: 400;
                color: var(--color-grey-30);
            }
        }

        &__list-container {
            display: flex;
            gap: clamp(20px, 5vw, 30px);
            flex-wrap: wrap;

            &__item {
                background-color: var(--color-peach-96);
                border-radius: 12px;
                padding: clamp(40px, 10vw, 50px);
                display: flex;
                flex-direction: column;
                gap: clamp(24px, 6vw, 30px);
                flex: 0 0 100%;

                @include screens.min-md {
                    flex: 1 0 calc((100% - (clamp(20px, 5vw, 30px) * 2)) / 3);
                }

                &__title {
                    font-weight: 600;
                    color: var(--color-grey-20);
                }

                &__slug {
                    font-weight: 400;
                    color: var(--color-grey-30);
                }
            }
        }

        @include screens.min-md {
            gap: 60px;
        }

        @include screens.min-lg {
            gap: 80px;
        }
    }

    &__portfolio-section {
        margin-top: clamp(60px, 15vw, 150px);
        width: 100%;
        text-align: center;

        &__title {
            font-weight: 600;
            color: var(--color-grey-20);
            margin-bottom: clamp(2px, 0.5vw, 6px);
        }

        &__slug {
            font-weight: 400;
            color: var(--color-grey-30);
            margin-bottom: clamp(40px, 10vw, 80px);
        }

        &__items-container {
            margin-top: clamp(24px, 6vw, 30px);
            display: flex;
            justify-content: space-between;

            @include screens.min-tb {
                gap: clamp(10px, 1.3vw, 20px);
            }

            @include screens.min-md {
                gap: clamp(20px, 1.38vw, 30px);
            }

            overflow: hidden;

            &__item {
                flex: 0 0 100%;

                @include screens.min-tb {
                    text-align: left;
                    flex: 0 0 calc((100% - 1.3vw) / 2);
                }

                background-color: var(--color-peach-96);
                border-radius: 10px;
                padding: 30px;
                transition: transform 0.5s ease-in-out,
                box-shadow 0.5s ease-in-out;
                position: relative;
                z-index: 0;

                &:hover {
                    transform: scale(1.05);
                    z-index: 2;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
                }

                @include screens.min-md {
                    flex: 0 0 calc((100% - 2.76vw) / 3);
                }

                &__title {
                    font-weight: 600;
                    color: var(--color-grey-20);
                    margin-bottom: clamp(20px, 5vw, 30px);
                }

                &__banner-image-container {
                    position: relative;
                    width: 100%;
                    margin-bottom: 20px;

                    &__image {
                        width: 100%;
                        height: auto;
                    }

                    &__expand-container {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        width: 36px;
                        height: 36px;
                        border-radius: 8px;
                        background-color: var(--color-peach-96);
                        border: 1px solid var(--color-peach-90);

                        &__arrow {
                            position: absolute;
                            top: 50%;
                            left: 5px;
                            width: 20px;
                            height: 2px;
                            background-color: var(--color-grey-20);
                            transform: rotate(-45deg);

                            &::after {
                                position: absolute;
                                top: -3.75px;
                                right: 0;
                                content: "";
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-top: 1px solid var(--color-grey-20);
                                border-right: 1px solid var(--color-grey-20);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                &__image-list-container {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    &>* {
                        width: 22%;
                        position: relative;
                        border-radius: 4px;
                    }

                    &__image {
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }

                        &-inactive {
                            &::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                border-radius: 4px;
                                background-color: rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
                }
            }
        }

        &__arrows-container {
            margin-top: 20px;
            padding: 0 20px;
            display: flex;
            justify-content: center;
            gap: 70px; //18vw
            align-items: center;

            @include screens.min-md {
                display: none;
            }

            &__line-container {
                display: flex;
                gap: 2px;

                &__item {
                    &-active {
                        background-color: var(--color-purple-50);
                    }

                    background-color: var(--color-peach-85);
                    border-radius: 52px;
                    width: 30px;
                    height: 5px;
                    border: none;
                }
            }

            &__arrow {
                position: relative;
                border-radius: 6px;
                background-color: var(--color-peach-98);
                border: 1px solid var(--color-peach-85);
                width: 42px;
                height: 42px;

                &-left::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 57%;
                    transform: translate(-50%, -50%) rotate(135deg);
                    width: 13px;
                    height: 13px;
                    border-right: 2px solid var(--color-grey-20);
                    border-bottom: 2px solid var(--color-grey-20);
                }

                &-right::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 43%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    width: 13px;
                    height: 13px;
                    border-right: 2px solid var(--color-grey-20);
                    border-bottom: 2px solid var(--color-grey-20);
                }
            }
        }

        &__view-btn {
            position: relative;
            display: inline-block;
            height: 49px;
            padding: 14px 20px;
            border-radius: 6px;
            border-color: transparent;
            background-color: var(--color-purple-50);
            margin-top: 40px;

            input[type="button"] {
                all: unset;
                cursor: pointer;
                display: inline-block;
                text-align: center;
                width: 100%;
                height: 100%;
                color: var(--color-peach-99);
                font-weight: 500;
                font-size: clamp(14px, 3.5vw, 16px);
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -100%);
                width: 0;
                height: 0;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-bottom: 10px solid var(--color-purple-50);
            }
        }
    }

    &__review-section {
        margin-top: clamp(60px, 15vw, 150px);
        width: 100%;
        text-align: center;

        &__title {
            font-weight: 600;
            color: var(--color-grey-20);
            margin-bottom: clamp(2px, 0.5vw, 6px);
        }
        &__slug {
            font-weight: 400;
            color: var(--color-grey-30);
            margin-bottom: clamp(40px, 10vw, 80px);
        }

        &__total-container {
            margin-bottom: clamp(20px, 5vw, 30px);

            @include screens.min-md {
                display: flex;
                justify-content: space-between;
            }

            h6 {
                font-weight: 500;
                color: var(--color-grey-30);
            }

            &__arrow-container {
                display: none;

                @include screens.min-md {
                    display: flex;
                    gap: clamp(12px, 0.83vw, 16px);

                    &__arrow {
                        width: 40px; //46px*
                        height: 40px; //46px*
                        border-radius: 8px;
                        background-color: var(--color-peach-95);
                        border: 1px solid var(--color-peach-85);
                        position: relative;

                        &-left::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(135deg);
                            width: 13px;
                            height: 13px;
                            border-right: 2px solid var(--color-grey-20);
                            border-bottom: 2px solid var(--color-grey-20);
                        }

                        &-right::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(-45deg);
                            width: 13px;
                            height: 13px;
                            border-right: 2px solid var(--color-grey-20);
                            border-bottom: 2px solid var(--color-grey-20);
                        }
                    }
                }
            }
        }

        &__hr-line {
            width: 100%;
            height: 1px;
            background-color: var(--color-peach-85);
        }

        &__review-items-container {
            margin-top: clamp(24px, 6vw, 30px);
            display: flex;
            justify-content: space-between;
            @include screens.min-tb { gap: clamp(10px, 1.3vw, 20px); }
            @include screens.min-md { gap: clamp(20px, 1.38vw, 30px); }
            overflow: hidden;
            &__item {
                flex: 0 0 100%;
                @include screens.min-tb { text-align: left; flex: 0 0 calc((100% - 1.3vw) / 2); }
                background-color: var(--color-peach-96);
                border-radius: 10px;
                padding: clamp(40px, 2.5vw, 50px);
                display: flex;
                flex-direction: column;
                gap: clamp(24px, 1.5vw, 30px);
                @include screens.min-md { 
                    flex: 0 0 calc((100% - 2.76vw) / 3);
                }

                &__header-container { 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &__info-container {
                        &__title {
                            font-weight: 500;
                            color: var(--color-grey-20);
                        }
                        &__slug {
                            font-weight: 400;
                            color: var(--color-grey-40);
                        }
                    }

                    &__profile-container {
                        display: flex;
                        align-items: center;
                        gap: clamp(8px, 0.5vw, 10px);
                        &__item-container {
                            width: clamp(44px, 3vw, 52px);
                            height: clamp(44px, 3vw, 52px);
                            display: grid;
                            place-items: center;
                            border-radius: 8px;
                            border: 1px solid var(--color-peach-90);
                            &__item {
                                width: clamp(24px, 1.5vw, 28px);
                                height: clamp(24px, 1.5vw, 28px);
                                color: var(--color-purple-50);
                            }
                        }
                    }
                }

                &__content {
                    font-weight: 400;
                    color: var(--color-grey-30);
                }
            }
        }

        &__arrows-container {
            margin-top: 20px;
            padding: 0 20px;
            display: flex;
            justify-content: center;
            gap: 70px; //18vw
            align-items: center;

            @include screens.min-md { display: none; }

            &__line-container {
                display: flex;
                gap: 2px;

                &__item {
                    &-active {
                        background-color: var(--color-purple-50);
                    }

                    background-color: var(--color-peach-85);
                    border-radius: 52px;
                    width: 30px;
                    height: 5px;
                    border: none;
                }
            }

            &__arrow {
                position: relative;
                border-radius: 6px;
                background-color: var(--color-peach-98);
                border: 1px solid var(--color-peach-85);
                width: 42px;
                height: 42px;

                &-left::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 57%;
                    transform: translate(-50%, -50%) rotate(135deg);
                    width: 13px;
                    height: 13px;
                    border-right: 2px solid var(--color-grey-20);
                    border-bottom: 2px solid var(--color-grey-20);
                }

                &-right::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 43%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    width: 13px;
                    height: 13px;
                    border-right: 2px solid var(--color-grey-20);
                    border-bottom: 2px solid var(--color-grey-20);
                }
            }
        }
    }

    @include screens.min-md {
        &__details-section {
            flex-direction: row-reverse;

            &__banner-image {
                height: 596px;
                aspect-ratio: 1.031;
                background-image: url("/icons/profile-image__laptop.png");
            }
        }
    }

    @include screens.min-lg {
        &__details-section {
            &__banner-image {
                height: 596px;
                aspect-ratio: 1.272;
                background-image: url("/icons/profile-image__desktop.png");
            }
        }
    }
}

.swiper {

    &-button-prev,
    &-button-next {
        color: transparent;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        transform: unset;
        margin: unset;
        z-index: unset;
    }

    &-button-prev {
        margin-right: clamp(12px, 0.83vw, 16px);
    }

    &-items-wrapper {
        @include screens.max-md {
            display: flex;
            justify-content: center;
        }
    }
}