@use "../shared/media-queries" as screens;

.rss-home {
    background-color: var(--color-peach-92);
    margin-top: clamp(0px, 6.5vw, 12px);
    margin-bottom: clamp(60px, 15vw, 150px);

    &__details-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(30px, 7.5vw, 80px);

        &__banner-image {
            width: 92vw;
            max-width: 500px;
            object-fit: cover;
            aspect-ratio: 1.038;
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/icons/profile-image__mobile.png");
        }

        &__content-container {
            text-align: center;

            @include screens.min-md {
                text-align: left;
                margin-top: 150px;
            }

            &__slug {
                display: inline-block;
                background-color: var(--color-peach-95);
                padding: clamp(8px, 2vw, 10px) clamp(14px, 3.5vw, 18px);
                border-radius: clamp(10px, 2.5vw, 13px);
                font-weight: 500;
                color: var(--color-grey-30);
                margin-bottom: 14px;
            }

            &__title {
                margin-bottom: 4px;
                font-weight: 600;
                color: var(--color-grey-10);
            }

            &__content {
                font-weight: 400;
                color: var(--color-grey-30);
            }

            &__contact-container {
                margin-top: 24px;
                display: flex;
                gap: clamp(20px, 5vw, 40px);
                justify-content: center;
                align-items: center;

                @include screens.min-md {
                    justify-content: flex-start;
                }

                &__btn {
                    &>* {
                        display: flex;
                        gap: 8px;
                        border-radius: 8px;
                        align-items: center;
                        padding: clamp(14px, 3.5vw, 18px) clamp(16px, 4vw, 24px);
                        background-color: var(--color-purple-50);

                        &>* {
                            color: var(--color-peach-99);
                        }

                        p {
                            font-weight: 500;
                        }
                    }
                }

                &__link {
                    color: var(--color-grey-10);
                    font-weight: 500;
                }
            }

            &__status-container {
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: clamp(10px, 2.5vw, 20px);
                @include screens.min-md { 
                    width: 113%;
                    gap: 0; 
                    justify-content: flex-start; 
                    flex-wrap: nowrap;
                }

                &__item-container {
                    background-color: var(--color-peach-96);
                    flex: 0 1 calc((100% - clamp(10px, 2.5vw, 20px)) / 2);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: clamp(16px, 4vw, 80px) clamp(18px, 4.5vw, 50px);
                    border-radius: 8px;
                    @include screens.min-md {
                        flex: 0 1 calc(100% / 3);
                        align-items: flex-start;
                    }

                    &-full {
                        flex: 0 1 100%;
                        @include screens.min-md { flex: none; }
                    }

                    &__count {
                        font-weight: 700;
                        color: var(--color-grey-20);

                        &-sy {
                            color: var(--color-purple-50);
                        }

                        font-size: 24px;
                    }

                    &__text {
                        font-weight: 500;
                        color: var(--color-grey-30);
                    }
                }
            }
        }
    }

    &__skills-section {
        margin-top: clamp(60px, 15vw, 240px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        &__heading-container {
            text-align: center;

            &__title {
                margin-bottom: clamp(2px, 0.5vw, 6px);
                font-weight: 600;
                color: var(--color-grey-20);
            }

            &__slug {
                font-weight: 400;
                color: var(--color-grey-30);
            }
        }

        &__list-container {
            display: flex;
            gap: clamp(20px, 5vw, 30px);
            flex-wrap: wrap;

            &__item {
                background-color: var(--color-peach-96);
                border-radius: 12px;
                padding: clamp(40px, 10vw, 50px);
                display: flex;
                flex-direction: column;
                gap: clamp(24px, 6vw, 30px);
                align-items: center;
                text-align: center;
                flex: 0 0 100%;

                @include screens.min-md {
                    flex: 0 0 calc((100% - (clamp(20px, 5vw, 30px) * 2)) / 3);
                }

                &__icon-container {
                    background-color: var(--color-purple-50);
                    display: grid;
                    place-items: center;
                    width: clamp(54px, 13.5vw, 77px);
                    height: clamp(54px, 13.5vw, 77px);
                    border-radius: 8px;
                }

                &__title {
                    font-weight: 600;
                    color: var(--color-grey-20);
                }

                &__slug {
                    font-weight: 400;
                    color: var(--color-grey-30);
                }
            }
        }

        @include screens.min-md {
            gap: 60px;
        }

        @include screens.min-lg {
            gap: 80px;
        }
    }

    &__benefits-section {
        margin-top: clamp(60px, 15vw, 240px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        &__heading-container {
            text-align: center;

            &__title {
                margin-bottom: clamp(2px, 0.5vw, 6px);
                font-weight: 600;
                color: var(--color-grey-20);
            }

            &__slug {
                font-weight: 400;
                color: var(--color-grey-30);
            }
        }

        &__list-container {
            display: flex;
            gap: clamp(20px, 5vw, 30px);
            flex-wrap: wrap;

            &__item {
                background-color: var(--color-peach-96);
                border-radius: 12px;
                padding: clamp(40px, 10vw, 50px);
                display: flex;
                flex-direction: column;
                gap: clamp(24px, 6vw, 30px);
                flex: 0 0 100%;

                @include screens.min-md {
                    flex: 1 0 calc((100% - (clamp(20px, 5vw, 30px) * 2)) / 3);
                }

                &__title {
                    font-weight: 600;
                    color: var(--color-grey-20);
                }

                &__slug {
                    font-weight: 400;
                    color: var(--color-grey-30);
                }
            }
        }

        @include screens.min-md {
            gap: 60px;
        }

        @include screens.min-lg {
            gap: 80px;
        }
    }

    @include screens.min-md {
        &__details-section {
            flex-direction: row-reverse;

            &__banner-image {
                height: 596px;
                aspect-ratio: 1.031;
                background-image: url("/icons/profile-image__laptop.png");
            }
        }
    }

    @include screens.min-lg {
        &__details-section {
            &__banner-image {
                height: 596px;
                aspect-ratio: 1.272;
                background-image: url("/icons/profile-image__desktop.png");
            }
        }
    }
}