@use "../shared/media-queries" as screens;

.rss-portfolio {
    background-color: var(--color-peach-92);
    margin-top: clamp(30px, 7.5vw, 100px);
    margin-bottom: clamp(60px, 15vw, 100px);

    &__banner {
        background-color: var(--color-peach-96);
        border-radius: 10px; //**
        padding: 40px 30px; //**
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px; //**
        margin-bottom: 60px; //**

        &__ico {
            width: clamp(52px, 4%, 66px);
            aspect-ratio: 1;
            border-radius: 6px; //**
        }

        &__content {
            &__title {
                color: var(--color-grey-20);
                font-weight: 600;
                margin-bottom: 4px; //**
            }

            &__slug {
                color: var(--color-grey-30);
                font-weight: 400;
            }
        }

        &__list-container {
            gap: 14px; //**

            &__item {
                display: flex;
                border-radius: 6px; //**
                border: 1px solid var(--color-peach-90);
                min-width: 258px;
                height: 44px;
                flex: 0 auto;
                justify-content: center;
                align-items: center;
                gap: 4px; //**v

                p {
                    color: var(--color-grey-20);
                    margin: 0;
                    font-weight: 500;
                }
            }
        }
    }

    &__contents-container {
        display: flex;
        flex-direction: column;
        gap: 60px;

        &__projects-container,
        &__articles-container,
        &__case-studies-container {
            width: 100%;
            text-align: center;

            &__items-container {
                margin-top: clamp(24px, 6vw, 30px);
                display: flex;

                // gap: clamp(20px, 5vw, 30px); //**
                &__item {
                    width: 100%;
                    background-color: var(--color-peach-96);
                    border-radius: 10px;
                    padding: 30px;

                    &__title {
                        font-weight: 600;
                        color: var(--color-grey-20);
                        margin-bottom: clamp(20px, 5vw, 30px);
                    }

                    &__banner-image-container {
                        position: relative;
                        width: 100%;
                        margin-bottom: 20px;

                        &__image {
                            width: 100%;
                            height: auto;
                        }

                        &__expand-container {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            width: 36px;
                            height: 36px;
                            border-radius: 8px;
                            background-color: var(--color-peach-96);
                            border: 1px solid var(--color-peach-90);

                            &__arrow {
                                position: absolute;
                                top: 50%;
                                left: 5px;
                                width: 20px;
                                height: 2px;
                                background-color: var(--color-grey-20);
                                transform: rotate(-45deg);

                                &::after {
                                    position: absolute;
                                    top: -3.75px;
                                    right: 0;
                                    content: "";
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    border-top: 1px solid var(--color-grey-20);
                                    border-right: 1px solid var(--color-grey-20);
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }

                    &__image-list-container {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;

                        &>* {
                            width: 22%;
                            position: relative;
                            border-radius: 4px;
                        }

                        &__image {
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                            }
                            &-inactive {
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    border-radius: 4px;
                                    background-color: rgba(0, 0, 0, 0.4);
                                }
                            }
                        }
                    }
                }
            }

            &__arrows-container {
                margin-top: 20px;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                gap: 70px; //18vw
                align-items: center;

                @include screens.min-md { display: none; }

                &__line-container {
                    display: flex;
                    gap: 2px;

                    &__item {
                        &-active {
                            background-color: var(--color-purple-50);
                        }

                        background-color: var(--color-peach-85);
                        border-radius: 52px;
                        width: 30px;
                        height: 5px;
                        border: none;
                    }
                }

                &__arrow {
                    position: relative;
                    border-radius: 6px;
                    background-color: var(--color-peach-98);
                    border: 1px solid var(--color-peach-85);
                    width: 42px;
                    height: 42px;

                    &-left::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 57%;
                        transform: translate(-50%, -50%) rotate(135deg);
                        width: 13px;
                        height: 13px;
                        border-right: 2px solid var(--color-grey-20);
                        border-bottom: 2px solid var(--color-grey-20);
                    }

                    &-right::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 43%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                        width: 13px;
                        height: 13px;
                        border-right: 2px solid var(--color-grey-20);
                        border-bottom: 2px solid var(--color-grey-20);
                    }
                }
            }

            &__view-btn {
                position: relative;
                display: inline-block;
                height: 49px;
                padding: 14px 20px;
                border-radius: 6px;
                border-color: transparent;
                background-color: var(--color-purple-50);
                margin-top: 40px;

                input[type="button"] {
                    all: unset;
                    cursor: pointer;
                    display: inline-block;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    color: var(--color-peach-99);
                    font-weight: 500;
                    font-size: clamp(14px, 3.5vw, 16px);
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -100%);
                    width: 0;
                    height: 0;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-bottom: 10px solid var(--color-purple-50);
                }
            }

            @include screens.min-md {
                &__view-btn {
                    display: none;
                }
            }
        }

        &__projects-container__title-container,
        &__articles-container__title-container,
        &__case-studies-container__title-container {
            margin-bottom: clamp(20px, 5vw, 30px);

            h3 {
                font-weight: 600;
                color: var(--color-grey-20);
            }

            &__arrow-container {
                display: none;
            }
        }

        &__projects-container__hr-line,
        &__articles-container__hr-line,
        &__case-studies-container__hr-line {
            width: 100%;
            height: 1px;
            background-color: var(--color-peach-85);
        }
    }
}