@use "../shared/media-queries" as screens;

.rss-portfolio {
    background-color: var(--color-peach-92);
    margin-top: clamp(30px, 7.5vw, 100px);
    margin-bottom: clamp(60px, 15vw, 100px);

    &__contents-container {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-top: clamp(60px, 15vw, 100px);
    }
}