@use "../shared/media-queries" as screens;

.rss-portfolio {
    background-color: var(--color-peach-92);
    margin-top: clamp(30px, 7.5vw, 100px);
    margin-bottom: clamp(60px, 15vw, 100px);

    &__contents-container {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-top: clamp(60px, 15vw, 100px);
    }
}

.swiper {
    &-button-prev, &-button-next { 
        color: transparent;
        top: unset; 
        left: unset; 
        right: unset; 
        bottom: unset;
        transform: unset;
        margin: unset; 
        z-index: unset;
    }
    &-button-prev { margin-right: clamp(12px, 0.83vw, 16px);}
    &-items-wrapper {
        @include screens.max-md { display: flex; justify-content: center; }
    }
}