:root {
    --color-grey-30: #4D4D4D;
    --color-purple-50: #5700FF;
    --color-peach-95: #F5F3F0;
    --color-peach-90: #EBE7E0;
    --color-peach-92: #EEEBE5;
    --color-peach-85: #E1DBD1;
    --color-peach-96: #F7F6F3;
    --color-peach-99: #FDFDFC;
    --color-grey-50: #808080;
    --color-absolute-white: #FFFFFF;
    --color-grey-20: #333333;
    --color-grey-10: #1A1A1A;
}