@use "../shared/media-queries" as screens;
@use "../base/animations" as animations;

.swiper {
    &-slide { width: auto; height: auto !important; /* display: flex !important; */ }
    &-button-prev, &-button-next {
        color: transparent;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        transform: unset;
        margin: unset;
        z-index: unset;
    }
    &-button-prev { margin-right: clamp(12px, 0.83vw, 16px); }
    &-items-wrapper { @include screens.max-md { display: flex; justify-content: center; }}
}

.rss-works__home__swiper {
    opacity: 0;
    animation: #{animations.fade-in-up-30-scale-98-animation(0.7s, 5.85s)};
    @include screens.max-tb {
        animation: none;
        transform: none;
        transition: opacity 1s ease-out;
        transition-delay: 0.2s;
        &.is-visible { opacity: 1; }
    }
}

.review-swiper {
    opacity: 0;
    animation: #{animations.fade-in-up-30-scale-98-animation(0.7s, 7.05s)};
    @include screens.max-smd {
        animation: none;
        transform: none;
        transition: opacity 1s ease-out;
        transition-delay: 0.2s;
        &.is-visible { opacity: 1; }
    }
}